<!DOCTYPE html>
<html>
  <head>
    <title>발신함</title>
  </head>
  <body>
      <button type="button" onclick="location.href='/main'">GOAROSA</button>
    <h3>발신함</h3>
    <p>
      <%= name %> 
      <% if(status-'0'){ %>
        선생님
      <% } else { %>
        학생
      <% } %>
      <button type="button" onclick="location.href='/users/logout'">로그아웃</button>
    </p>
    <p>
      <button type="button" onclick="location.href='./inbox'">수신함</button>
      <button type="button" onclick="location.href='./outbox'">발신함</button>
      <button type="button" onclick="location.href='./send'">메일 보내기</button>
    </p>
  </body>
</html>