<!DOCTYPE html>
<html>
  <head>
    <title>쪽지 보내기</title>
  </head>
  <body>
    <a href="/main"><h1>GOAROSA</h1></a>
    <h2>쪽지 보내기</h2>
    <p>
      <%= name %> <%= status %>
      <button type="button" onclick="location.href='/users/logout'">로그아웃</button>
    </p>
    <p>
      <button type="button" onclick="location.href='./inbox'">수신함</button>
      <button type="button" onclick="location.href='./outbox'">발신함</button>
      <button type="button" onclick="location.href='./send'">쪽지 보내기</button>
    </p>
    <form method="POST">
      To. <input type="text" name="to" required><br>
      Title : <input type="text" name="title" required><br>
      Content : <input type="text" name="content" required><br>
      <input type="submit" value="보내기">
    </form>
  </body>
</html>